$ui-active-blue: #3EC3D5;

$ui-bg-color: #222;
$ui-layered-bg-color: #24273C;
$ui-layered-bg-color-assignment: #274929;
$ui-layered-bg-color-expression: #402749;
$ui-layered-bg-color-error: #611F1F;
$ui-border-color: #eee;
$ui-button-fg-color: #111;
$ui-button-clicked-fg-color: #5B5594;
$ui-button-bg-color: #5B5594;
$ui-button-clicked-bg-color: #3EC3D5;
$ui-frame-selected-color: $ui-active-blue;
$ui-text-color: #eee;
$ui-low-importance-text-color: #aaa;

$ui-minor-data-color: #1A99A3;