$ui-active-blue: #3EC3D5;

$ui-bg-color: #222;
$ui-layered-fg-color: #24273C;
$ui-border-color: #eee;
$ui-button-fg-color: #111;
$ui-button-clicked-fg-color: #5B5594;
$ui-button-bg-color: #5B5594;
$ui-button-clicked-bg-color: #3EC3D5;
$ui-frame-selected-color: $ui-active-blue;
$ui-text-color: #eee;
$ui-low-importance-text-color: #aaa;