@import 'colors';

.miniFrameContainer {
	height: 5em;
	margin: 0.5em;
	background-color: $ui-layered-bg-color;
	color: $ui-text-color;
	position: relative;

	border: 2px solid $ui-layered-bg-color;
}

.miniFrameContainer--selected {
	border: 2px solid $ui-frame-selected-color;
}

.miniFrameContainer--empty {
	background-color: $ui-layered-bg-color;
}

.miniFrameContainer--assignment {
	background-color: $ui-layered-bg-color-assignment;
}

.miniFrameContainer--expression {
	background-color: $ui-layered-bg-color-expression;
}

.miniFrameContainer--error {
	background-color: $ui-layered-bg-color-error;
}

.miniFrameIndex {
	font-size: 0.7em;
	margin: 0.2em 0.4em;
	color: $ui-low-importance-text-color;
	position: absolute;
	top: 0;
	right: 0;
}

.miniFrameCode {
	color: $ui-low-importance-text-color;
	position: absolute;
	bottom: 0.2em;
	width: 100%;
	text-align: center;
}