@import 'colors';

.miniFrameContainer {
	height: 5em;
	margin: 0.5em;
	background-color: $ui-layered-fg-color;
	color: $ui-text-color;
}

.miniFrameContainer--selected {
	border: 2px solid $ui-frame-selected-color;
}

.miniFrameIndex {
	float: right;
	font-size: 0.7em;
	margin: 0.2em 0.4em;
	color: $ui-low-importance-text-color;
}